/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */

$font_type0: 16px/1.25 Roboto, Helvetica, Arial, serif;
$font_type1: 14px/1.5 Roboto, Helvetica, Arial, serif;

$background_type0: var(--src) center center / contain no-repeat;

.card-header {
  &-flexbox {
    display: flex;
  }
  &-flexbox-posize {
    position: relative;
    min-height: 45.5px;
    flex-grow: 1;
    margin: 0px;
  }
  &-avatar {
    background: $background_type0;
  }
  &-avatar-posize {
    position: relative;
    height: 42px;
    width: 42px;
    min-width: 42px;
    margin: 1px 0px 3px;
  }
  &-flexbox-space {
    display: flex;
    flex: 0 0 auto;
    min-width: 8px;
  }
  &-flexbox-item {
    display: flex;
    flex: 1 0 auto;
    min-width: 99px;
  }
  &-flexbox1 {
    display: flex;
    flex-direction: column;
  }
  &-flexbox1-posize {
    position: relative;
    flex-grow: 1;
    margin: 4px 0px 0px;
  }
  &-flexbox1-item {
    display: flex;
    flex: 0 0 auto;
  }
  &-title {
    font: $font_type0;
    color: rgb(0, 109, 204);
  }
  &-title-posize {
    position: relative;
    width: fit-content;
    margin: 0px;
  }
  &-subtitle {
    font: $font_type1;
    color: rgb(85, 103, 139);
  }
  &-subtitle-posize {
    position: relative;
    width: fit-content;
    margin: 1px 0px 0px;
  }
  &-flexbox-space1 {
    display: flex;
    flex: 1 1 185px;
  }
  &-icon {
    background: $background_type0;
  }
  &-icon-posize {
    position: relative;
    height: 9px;
    width: 14px;
    min-width: 14px;
    margin: 0px;
  }
}
